/* 
    Document   : style
    Created on : 25/04/2014, 18:06:43
    Author     : Juan Ramos

*/
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?-srhekv');
    src: url('fonts/icomoon.eot?#iefix-srhekv') format('embedded-opentype'), url('fonts/icomoon.woff?-srhekv') format('woff'), url('fonts/icomoon.ttf?-srhekv') format('truetype'), url('fonts/icomoon.svg?-srhekv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-uniE603:before {
    content: "\e603";
}

.icon-facebook:before {
    content: "\e600";
}

.icon-twitter:before {
    content: "\e601";
}

.icon-pinterest:before {
    content: "\e602";
}

a {
    text-decoration: none;
}

body {

    background: #fff;
    font-family: 'coolveticaregular', sans-serif;
    font-size: 16px;
}

body, h2, h3, h4, p {
    font-weight: 300
}

*:focus {
    outline: 0;
}

li {
    list-style: none;
}

h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

article, header, footer, nav, section, .divisor, .network {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1060px;
}

/*=================================================================
header
===================================================================*/
header {
    border-bottom: 3px solid #545454;
    border-top: 3px solid #545454;
    margin-top: 20px;
    text-align: center;
}

header img {
    padding: 20px 0;
}

.logo-complejo img {
    padding-top: 30px;
    width: 300px;
}

/*=================================================================
Nav
===================================================================*/
#nav {
    text-align: right;
    text-transform: uppercase;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav a:hover, #nav .active {
    background: #f8db00;
    color: #373839;
    text-decoration: underline;
}

#nav a {
    background: #545454;
    display: block;
    color: #fff;
    font-style: italic;
    font-size: .9em;
    padding: 7px;
    text-align: right;
    vertical-align: middle;
}

.network {
    border-bottom: 2px solid #545454;
    border-top: 3px solid #f8db00;
    margin: 10px auto;
    padding: 15px 0 12px
}

.network h2 {
    display: inline-block;
    color: #48463F;
    font-size: 1.5em;
    line-height: 0;
    text-align: right;
    text-transform: uppercase;
    vertical-align: middle;
    width: 1005px
}

.network a {
    color: #545454;
    display: block;
    font-size: 1.0em;
    line-height: 0;
    padding-top: 5px;
}

.network a:hover {
    color: #be6b50;
    border: none;
}

.network li {
    display: inline-block;
    height: 25px;
    vertical-align: middle;
}

.network li:first-child {
    border-right: solid 1px;
    padding-right: 6px;
}

.network ul {
    display: inline-block;
}

#nav li:hover .tooltip {
    display: block;
}

.tooltip {
    background: #f8db00;
    color: #373839;
    font-size: .6em;
    display: none;
    padding: 4px 5px;
    position: absolute;
    text-align: right;
    width: 100%;
}

/*=================================================================
Footer
===================================================================*/
footer {
    text-align: center;
}

footer a {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

#nav-footer {
    border-bottom:solid #f8db00 3px;
    padding: 60px 20px 0;
}

#nav-footer img {
    max-height: 50px
}

#nav-footer li {
    display: inline-block;
    margin: 25px 0;
    width: 32%
}

/*=================================================================
slide
===================================================================*/
#slide {
    margin: 20px auto;
}

#slide img {
    max-width: 1060px
}

/*=================================================================
home
===================================================================*/

.article-contend h2 {
    background: #fff;
    display: inline-block;
    font-size: 1.25em;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    z-index: 2;
}

.article-contend h2 b {
    color: #f8db00;
    font-size: 2.9rem;
}

.article-contend hr {
    border: 1px solid rgb(255, 249, 3);
    bottom: 3px;
    margin: 0;
    position: absolute;
    width: 90%;
    z-index: 1
}

.article-contend hr.color-hr {
    border: 1px solid rgb(47, 47, 52);
}

.article-last {
    margin-top: 235px;
    text-align: right;
}
.home{
    margin: 25px auto;
}
.home .article-last p {
    font-size: 1.1em;
    font-weight: 500;
    margin: 15px 0 3px;
    text-align: right;
}
.home .second p{
  text-align: left;
}
.second .article-last h3 {
    font-size: 2.3em;
    padding: 0;
}

.second .article-last h4 {
    font-size: 1.75em;
    font-weight: 500;
    margin: 0;
}

.lines {
    border-bottom: 2px solid #545454;
    border-top: 2px solid #545454;
    display: inline-block;
    height: 10px;
    width: 1037px;
}

.first {
    border-right: 2px solid #f8db00;
    padding-right: 30px;
}
.first a {
    color: #575757;
    font-size: .9em;
    font-weight: bold;
}

.first a:hover {
    color: #f8db00;
}
.home article {
    color: #575757;
    display: inline-block;
    margin: 10px 0;
    vertical-align: top;
    width: 49.5%;
}

.home p {
    font-size: .9em;
    text-align: justify;
    line-height: 1.25em;
}

.home h3 {
    font-size: .9em;
    font-weight: bold;
}

.home h3 + p {
    margin-top: 0;
}

.image img {
    display: inline-block;
    width: 331px;
}

.image figcaption {
    background: #f8db00;
    display: inline-block;
    height: 498px;
    margin-left: 2px;
    position: relative;
    vertical-align: top;
    width: 154px;
}

.image figcaption span {
    display: block;
    margin-bottom: 5px;
    text-decoration: underline;
}

.image figcaption p {
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-style: italic;
    font-weight: 500;
    font-size: .95em;
    margin: 0;
    padding: 0 7px;
    position: absolute;
    text-align: right;
    width: 100%;
}

.second {
    padding-left: 30px;
}

.second h3 {
    padding: 15px 0
}

.second a {
    color: #575757;
    font-weight: bold;
}

.second a:hover {
    color: #f8db00;
}

.title-conted {
    position: relative;
    text-align: right;
}

.plus {
    color: #f8db00;
    display: inline-block;
    font-size: 1.7em;
}

/*=================================================================
Form Contact
===================================================================*/
#form-contact {
    display: inline-block;
    margin: 20px auto;
    text-align: right;
    vertical-align: top;
    width: 680px;
}
.contact{
    margin: 25px auto;
}
.contact-info{
    color: #575757;
    display: inline-block;
    font-size: .9em;
    margin: 25px;
    vertical-align: top;
    width: 300px;
}
.contact-info a {
    color: #575757;
    font-size: .9em;
    font-weight: bold;
}

.contact-info a:hover {
    color: #f8db00;
}
.contact-info h3{
    font-size: 1.05em;
    font-weight: bold;
    margin-bottom: 20px;
}
.contact-info div{
    margin: 10px 0;
}
.input-contend {
    padding: 10px;
}

.input-contend label {
    display: inline-block;
    margin-right: 50px;
    width: 100px;
}

.input-contend input, .input-contend textarea {
    border: none;
    box-shadow: inset 1px 1px 5px rgba(108, 108, 108, 0.41);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    padding: 0 20px;
    width: 500px;
}

.input-contend textarea {
    height: 100px;
    padding-top: 10px;
}

.submit {
    background: #f8db00;
    border-bottom: 3px solid #D9C007;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #48463F;
    margin: 10px;
    padding: 10px 50px;
}

.submit:hover {
    border-bottom: none;
    box-shadow: inset 1px 1px 5px rgba(108, 108, 108, 0.41);
    margin-bottom: 13px;
}
/*=================================================================
business presentation
===================================================================*/
.business a, .presentation a {
    color: #575757;
    font-size: .9em;
    font-weight: bold;
}

.business a:hover, .presentation a:hover{
    color: #f8db00;
}
.business h3, .presentation h3{
    color:#575757 ;
    font-size: 1em;
    font-weight: bold;
}
.business p, .presentation p{
    color: #575757;
    font-size: .9em;
}
.inline{
    display: inline-block;
}
.presentation .plus{
    font-size: 1.1em;
}


.travel-information{
    margin: 25px auto;
}
.travel-information .article-last{
    margin-top: 320px;
}
.travel-information .article-last p {
    font-size: 1.1em;
    font-weight: 500;
    margin: 15px 0 3px;
    text-align: right;
}
.travel-information .second p{
    text-align: left;
}

.travel-information article {
    color: #575757;
    display: inline-block;
    margin: 10px 0;
    vertical-align: top;
    width: 49.5%;
}

.travel-information p {
    font-size: .9em;
    text-align: justify;
    line-height: 1.25em;
}

.travel-information h3 {
    font-size: .9em;
    font-weight: bold;
}

.travel-information  h3 + p {
    margin-top: 0;
}
